talentz/bap/*/node_modules
talentz/bap/*/dist/
talentz/bap/*/!config/config-sample.yaml
talentz/bap/*/!config/old-config-sample.yaml
talentz/bap/*/!config/new-config-sample.yaml
talentz/bap/*/logs/*
talentz/bap/*/*.pem
talentz/bap/*/config/default.yml
talentz/bap/*/.ds_store
talentz/bap/*/docker/data/
talentz/bap/*/data
